body{
	background-color: green;
	background-image: url("https://phonoteka.org/uploads/posts/2021-05/1621558846_11-phonoteka_org-p-volni-fon-multyashnii-15.jpg");
	object-fit: cover;
	width: 800px;
	}
img{
	height: 210px;
	width: 210px;
	object-fit: cover;

}
div{
	position: relative;
	animation: myimg 15s infinite;
	animation-direction: alternate;
	
}
@keyframes mybird{
	0%{
		left: 10%;top: 1%;
	}
	5%{
		left: 15%; top: 10%;
	}
	10%{
		left: 20%; top: 17%;
	}
	15% {
		left: 25%; top: 10%;
	}
	20%{
		left: 30%; top: 1%;
	}
	25%{
		left: 35% ; top: 10%;
	}
	30%{
		left: 40%; top: 17%;
	}
	35%{
		left: 45%; top: 1%;
	}
	40% {
		left: 50%; top: 10%;
	}
	45%{
	left: 55%; top: 17%;
}
50%{
	left: 60%; top: 1%;
}
55%{
	left: 65%;top: 1%;
}
60%{
	left: 70%; top: 1%;
}
65%{
	left: 75%; top: 1%;
}
70%{
	left: 80%; top: 1%;
}
75%{
	left: 85%; top: 1%;
}
80%{
	left: 90%; top: 1%;
}
90%{
	left: 95%; top: 1%;
}
95%{
	left: 100%; top: 1%;
}
100%{
	left: 100%; top: 1%;
}
}

@keyframes mycloud{
	10%{
		top:1px; left: 50%;
	}
	20%{
		top: 1px; left: 45%;
	}
	30%{
		top:1px; left: 40%;
	}
	40%{
		top: 1px; left: 35%;
	}
	50%{
		top: 1px; left: 30%;
	}
	60%{
		top: 1px; left: 25%;
	}
	70%{
		top: 1px; left: 20%;
	}
	80%{
		top: 1px; left: 15%;
	}
	90%{
		top: 1px; left: 10%;
	}
	100%{
		top: 1px; left: 5%;
	}
}
@keyframes mydiv{
	10%{
		left: 0%; top: 40px;
	}
	20%{
       left: 0%; top: 35px;
	}
	30%{
		left: 0%; top: 30px;
	}s
	40%{
		left: 0%; top: 25px;
	}
	50%{
		left: 0%; top: 20px;
	}
	60%{
		left: 0%; top: 15px;
	}
	70%{
		left: 0%; top: 10px;
	}
	80%{
		left: 0%; top: 5px;
	}
	90%{
		left: 0%; top: 5px;
	}
	100%{
		left: 0%; top: 0px;
	}
}
@keyframes myimg{
	0%{
		left:100%; top: 55%;
	}
	10%{
		left: 90%; top: 55%;
	}
	15%{
		left:85% ;top: 55%;
	}
	20%{
		left: 80%; top: 55%;
	}
	25%{
		left: 75%; top: 55%;
	}
	30%{
		left: 70%; top: 55%;
	}
	35%{
		left: 65%; top: 55%;
	}
	40%{
		left: 60%; top: 55%;
	}
	45%{
		left: 55%; top: 55%;
	}
	50%{
		left: 50%; top: 55%;
	}
	55%{left: 45%; top: 55%;

	}
	60%{
		left: 40%; top: 55%;
	}
	65%{
		left: 35%; top: 55%;
	}
	70%{
		left: 30%;
		top: 55%;
	}
	75%{
		left:25%; top: 55%;
	}
	80%{
		left: 20%; top: 55%;
	}
	85%{
		left: 15%; top: 55%;
	}
	90%{
		left: 10%; top: 55%;
	}
	95%{
		left: 5%; top: 55%;
	}
	100%{
		left: 0%; top: 55%;
	}
}

.mydiv{
	margin-top: 1px;
	margin-left: 70%;
	animation: mydiv 8s infinite;
	display: inline-block;
	position: relative;
	animation-direction: alternate;
	
}
.cloud{
	
	animation: mycloud 12s infinite;
	display: inline-block;
	position: absolute;
	animation-direction: alternate;

}
.bird{
	display: inline-block;
	margin-left: 35px;
	height: 45px;
	width: 100px;
	
	margin-top: 1%;
	animation: mybird 15s infinite;
	margin-left: 45%;
	animation-direction: alternate;

}